
.background {
    background-image: url("images/background.jpg"); /* The image used */
    background-color: black; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.nav-item {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.bg-light {
    background-color: yellow
}

  .caption  {
    left: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.icon {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    color: #6b016b;
}

.icon-text {
    text-align:center;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

}


.section {
    text-align: center;
    padding-bottom: 30px;
}

.btn-block {
    width: 150px;
    
}

.btn {
    background-color: #6b016b;
    border-color: #6b016b;
    color: white;
}

.btn-primary:hover {
    background-color: #480148;
    border-color: #480148;
    color: white;
}

.btn-primary:focus {
    background-color: #480148 !important;
    border-color: #480148 !important;
    color: white !important;
    box-shadow: none !important;
}

/* Napa Page*/
.napa_background {
    background-image: url("images/napa_background.jpg"); /* The image used */
    background-color: black; /* Used if the image is unavailable */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

.jumbotron {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.napa_jumbo {
    background-color: #f5ebd8;
    padding-top: 0px;
    padding-bottom: 0px;

}

.cards {
    padding-bottom: 50px;
}

.card-grey {
    background-color: rgb(216, 216, 216);
}

.cursive {
  font-family: 'Dancing Script', 'cursive';
}

.font_thin {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.font_less_thin {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.card-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.btn-bottom {
  vertical-align: bottom;
}


/* Napa Page*/
.sonoma_background {
  background-image: url("images/sonoma_background.jpg"); /* The image used */
  background-color: black; /* Used if the image is unavailable */
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

.sonoma_jumbo {
  background-color: #f5ebd8;
  padding-top: 0px;
  padding-bottom: 0px;

}